---
stylesheets:
- ../../styles/styles.css
title: Login Page
---

{{#extend "base"}}
  {{#content "main"}}
      <main>
          {{>'modules/auth/components/form_login'}}
      </main>
  {{/content}}
{{/extend}}