---
stylesheets:
- ../../styles/styles.css
title: Register Page
---

{{#extend "base"}}
    {{#content "main"}}
        <main>
            {{>'modules/auth/register/form_register'}}
        </main>
    {{/content}}
{{/extend}}