.chat {
  width: 1280px;
  height: 720px;
}

.chat-list {
  width: 310px;
  background-color: #fbfbfb;
}

.profile-block {
  text-align: right;
  padding: 21px 10px;
}

.profile-link {
  color: #999;
}

.search-block {
  text-align: center;
}

.search-block-input {
  background-color: #efefef;
  border-radius: 5px;
  padding: 5px 15px;
}

.chat-list-block {
  margin-top: 14px;
  padding: 0 10px;
  color: #999;
}

.chat-list-item {
  height: 71px;
}

.avatar-block {
  padding: 12px;
}

.btn-send {
  width: 50px;
  height: 40px;
}

.avatar-img {
  width: 47px;
  height: 47px;
  border-radius: 47px;
  background: #efefef;
  background-position: center center;
  background-repeat: no-repeat;
}

.message-block {
  padding: 12px 0;
  flex-grow: 1;
}

.message-block p {
  margin: 0;
}

.notification-block {
  width: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  text-align: right;
  padding: 5px;
}

.notification-block p {
  margin: 0;
}

.messages-box {
  width: 100%;
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  background-color: #808388;
  padding: 10px 20px;
  border-radius: 12px;
  min-height: 60px;
  max-height: 80px;
  width: 200px;
  position: relative;
}

.message-own {
  margin-left: 400px;
  background-color: #3c76ee;
}

.message-author {
  position: absolute;
  right: 20px;
  color: #d2d7ec;
  font-size: 9px;
}

.message-time {
  position: absolute;
  left: 20px;
  color: #d2d7ec;
  font-size: 9px;
}

.btn-delete-chat {
  padding: 0!important;
}

.send-block-input {
  width: 100%;
  background: #efefef;
  border-radius: 30px;
  padding: 10px 20px;
}

.attach-btn {
  width: 30px;
}

.send-btn {
  width: 30px;
}

.sent-input {
  width: 80%;
}

.chat-list-item-active {
  background-color: #e4edfd;
}

.chat-list-item:hover {
  background-color: #e4edfd;
}
