@import url("../modules/profile/profile.css");
@import url("./chat/chat.css");

$color_danger: #ff2f2f;
$color_shadow: rgb(0 0 0 / 25%);
$color_btn_primary: #aab5cf;
$color_btn_text: #fff;
$color_link_text: #aab5cf;

.form {
  width: 340px;
  min-height: 450px;
  padding: 50px 30px;
  background: #fff;
  border: 1px solid #d3cece;
  box-shadow: 0 4px 4px $color_shadow;
  margin-top: 25% !important;
  transform: translateY(-50%);
}

.form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #8d8d8d;
  margin: 0;
}

.form-register {
  min-height: 615px;
}

.btn {
  box-shadow: 0 4px 4px $color_shadow;
  padding: 12px 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
}

.btn-primary {
  background: $color_btn_primary;
  color: $color_btn_text;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: $color_link_text;
  text-decoration: none;
}

.danger {
  color: $color_danger;
}
