---
stylesheets:
- ../styles/styles.css
title: Login Page
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
        <h1>Вход</h1>
        {{>'modules/auth/components/form_login'}}
    </main>
  {{/content}}
{{/extend}}