<div class="info__bottom">
    <div class="info__item flex f-between">
        {{> 'components/controls/ms_link' url='javascript::void(0)' text='Изменить данные' }}
    </div>
    <div class="info__item flex f-between">
        {{> 'components/controls/ms_link' url='javascript::void(0)' text='Изменить пароль' }}
    </div>
    {{> 'components/controls/ms_link' url='../../index.hbs' text='Выйти' }}
</div>
