<div class="info__bottom">
    <div class="info__item flex f-between">
        <div class="label">Изменить данные</div>
    </div>
    <div class="info__item flex f-between">
        <div class="label">Изменить пароль</div>
    </div>
    Выйти
</div>