$color_block_bgd: #fbfbfb;

.info {
  width: 510px;
  margin: 0 auto;
  margin-top: 60px;
}

.info-bottom {
  margin-top: 40px;
}

.info-item {
  border-bottom: 1px solid #eaeaea;
  margin-top: 2px;
}

.back-block {
  height: 100%;
  width: 64px;
  left: 0;
  top: 0;
  background: $color_block_bgd;
  padding-top: 25%;
}

.back-block-arrow {
  margin-left: 18px;
}

.avatar-block-image {
  width: 130px;
  height: 130px;
  border-radius: 130px;
  background: #efefef;
  background-position: center center;
  background-repeat: no-repeat;
}

.profile-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1e1e1e;
  margin-top: 31px;
}

.profile-input {
  height: 100%;
  border: none;
  background: transparent;
  text-align: right;
}
