---
stylesheets:
- ./styles/styles.css
title: Home Page
---
{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>Welcome to the top level messenger ever been </h1>
        <ul>
            <a href="pages/login.hbs">Login page</a>
        </ul>
    </main>
  {{/content}}
{{/extend}}