---
stylesheets:
- ./styles/styles.css
title: Home Page
---
{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>Welcome to the top level messenger ever been </h1>
        <ul class="flex d-column">
            <a href="pages/login/index.hbs">Login page</a>
            <a href="pages/register/index.hbs">Register page</a>
            <a href="pages/profile/index.hbs">Profile page</a>
            <a href="pages/404.hbs">404 page</a>
            <a href="pages/500.hbs">500 page</a>
        </ul>
    </main>
  {{/content}}
{{/extend}}