<!doctype html>
<html class="no-js" lang="ru">

{{#block "head"}}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#block "title"}}
            <title>{{title}}</title>
        {{/block}}

        {{#block "styles"}}
            {{#each stylesheets}}
                <link href="{{this}}" rel="stylesheet" />
            {{/each}}
        {{/block}}
    </head>
{{/block}}

<body>
<div class="wrapper">
    <div class="top">
        {{#block "main"}}
        {{/block}}
    </div>
</div>
</body>
</html>
